<h1>Products</h1>
<br>
<table class="center">
    <tr id="abc">
        <td>
            <img src="./assets/furniture.jpg">
        </td>
        <td>
            <img src="./assets/furniture.jpg">
        </td>
    </tr>
    <tr>
        <td>
            <img src="./assets/furniture.jpg">
        </td>
        <td>
            <img src="./assets/furniture.jpg">
        </td>
    </tr>
    <tr>
        <td>
            <img src="./assets/furniture.jpg">
        </td>
        <td>
            <img src="./assets/furniture.jpg">
        </td>
    </tr>
    <tr>
        <td>
            <img src="./assets/furniture.jpg">
        </td>
        <td>
            <img src="./assets/furniture.jpg">
        </td>
    </tr>
    <tr>
        <td>
            <img src="./assets/furniture.jpg">
        </td>
        <td>
            <img src="./assets/furniture.jpg">
        </td>
    </tr>
</table>
