<div class="container">
    <h1 align="center">Nouvelles Arrivées</h1> 
       <table border = "1" align="center">
           
        
          <tr>
             <td>
                <img src="./assets/furniture.jpg">
             </td>
             <td>
                <img src="./assets/furniture2.jpg">
             </td>
             <td>
                <img src="./assets/furniture3.jpg">
             </td>
            
          </tr>

          <tr>
            <td>
               <img src="./assets/furniture4.jpg">
            </td>
            <td>
               <img src="./assets/furniture5.jpg">
            </td>
            <td >
               <img src="./assets/furniture6.jpg">
            </td>
         </tr>


       </table>

       <h1 align="center">meilleure offre</h1>
       <table align="center">
  
       <tr>
          <td>
             <img src="./assets/sofa1.jpg">
          </td>
          <td>
             <img src="./assets/sofa2.jpg">
          </td>
          <td>
             <img src="./assets/sofa3.jpg">
          </td>
         
       </tr>

       <tr>
         <td>
            <img src="./assets/sofa4.jpg">
         </td>
         <td>
            <img src="./assets/sofa5.jpg">
         </td>
         <td >
            <img src="./assets/sofa6.jpg">
         </td>
      </tr>


    </table>

    <h1 align="center">Les meilleures ventes</h1>
       <table align="center">
  
       <tr>
          <td>
             <img src="./assets/sofa1.jpg">
          </td>
          <td>
             <img src="./assets/sofa2.jpg">
          </td>
          <td>
             <img src="./assets/sofa3.jpg">
          </td>
         
       </tr>

       <tr>
         <td>
            <img src="./assets/sofa4.jpg">
         </td>
         <td>
            <img src="./assets/sofa5.jpg">
         </td>
         <td >
            <img src="./assets/sofa6.jpg">
         </td>
      </tr>


    </table>
       </div>


       