<div>
<table>
    <tr>
        <td>
            Manager
        </td>
        <td>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi necessitatibus maiores harum perferendis quaerat nemo quis dolorem velit eveniet facere?
        </td>
    </tr>
    <tr>
        <td>
            Graphiste
        </td>
        <td>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi necessitatibus maiores harum perferendis quaerat nemo quis dolorem velit eveniet facere?
        </td>
    </tr>
    <tr>
        <td>
            Front End Developpeur
        </td>
        <td>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi necessitatibus maiores harum perferendis quaerat nemo quis dolorem velit eveniet facere?
        </td>
    </tr>
    <tr>
        <td>
            Full Stack Developpeur
        </td>
        <td>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi necessitatibus maiores harum perferendis quaerat nemo quis dolorem velit eveniet facere?
        </td>
    </tr>
</table>


</div>
