
<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="about">About Us</a>
      <a class="nav-item nav-link" routerLink="products">Products</a>
      <a class="nav-item nav-link" routerLink="contact">Contact Us</a>
   
    </div>
  </div>
</nav>
<app-slider></app-slider>

<router-outlet></router-outlet>